<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Home - Customer</title>
    <link rel="stylesheet" href="/css/customer.css">
</head>
<body>
<nav>
    <div class="nav-left">WelcomeHome</div>
    <div class="nav-right">
        <span id="userName">${username}</span>
<!--        <button class="nav-btn" onclick="viewCart()">Cart</button>-->
        <button class="nav-btn" onclick="orders()">OrderHistory</button>
        <button class="nav-btn" onclick="logout()">Logout</button>
    </div>
</nav>

<form th:action="@{/customer}" method="get" class="search-filter-container">
    <input type="text" name="itemId" placeholder="Search by Item ID"
           th:value="${param.itemId}">

    <select name="mainCategory" onchange="loadSubcategories()">
        <option value="">Select Category</option>
        <option th:each="category : ${mainCategories}">
                            th:value="${category}"
                            th:text="${category}"
                            th:selected="${param.mainCategory == category}"></option>
    </select>

    <select name="subCategory" >
        <option value="">Select Sub Category</option>
        <option th:if="${subcategories}">
                            th:each="subcategory : ${subcategories}"
                            th:value="${subcategory}"
                            th:text="${subcategory}"
                            th:selected="${param.subCategory == subcategory}"></option>
    </select>

    <button type="submit">Search</button>
</form>

<div class="product-container">
    <div th:each="item : ${items}" class="product-item">
        <!-- Fetching the image from the backend using itemID -->
        <img th:if="${item.photo != null and item.photo != ''}"
             th:src="@{'/api/images/' + ${item.itemID}}"
             alt="Product Image"/>

        <h3>Item ID: <span th:text="${item.itemID}"></span></h3>
        <p th:text="${item.iDescription}">Description</p>
        <ul>
            <li>Color: <span th:text="${item.color}"></span></li>
            <li>New: <span th:text="${item.isNew ? 'Yes' : 'No'}"></span></li>
            <li>Has Pieces: <span th:text="${item.hasPieces ? 'Yes' : 'No'}"></span></li>
            <li>Material: <span th:text="${item.material}"></span></li>
            <li>Category: <span th:text="${item.mainCategory}"></span></li>
            <li>Subcategory: <span th:text="${item.subCategory}"></span></li>
        </ul>
                <button class="add-to-cart"
                        th:attr="data-item-id=${item.itemID},
                            onclick=|addToCart(document.getElementById('userName').textContent, this.getAttribute('data-item-id'))|">
                    Add to Order
                </button>
    </div>
</div>
<script src="/js/customer.js"></script>
</body>
</html>